<h3>My books list</h3>
<hr>
<div class="d-flex justify-content-end mb-3">
  <a class="btn btn-outline-primary" routerLink="/books/manage">
    <fa-icon [icon]="faPlus"></fa-icon>
    New book
  </a>

</div>
<div class="d-flex justify-content-start gap-2 flex-wrap">
  @for (book of bookResponse.content; track book.id) {
    <app-book-card
      [book]="book"
      [manage]="true"
      (archive)="archiveBook($event)"
      (share)="shareBook($event)"
      (edit)="editBook($event)"
    >
    </app-book-card>
  }
</div>

@if (bookResponse.totalPages && bookResponse.totalPages >= 1) {
  <div class="d-flex justify-content-center mt-3">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a
            (click)="goToFirstPage()"
            [class.disabled]="page === 0"
            aria-label="Previous"
            class="page-link"
            href="javascript:void(0)"
          >
            <fa-icon [icon]="icons.faAnglesLeft"></fa-icon>
          </a>
        </li>
        <li class="page-item">
          <a
            (click)="goToPreviousPage()"
            [class.disabled]="page === 0"
            aria-label="Previous"
            class="page-link"
            href="javascript:void(0)"
          >
            <fa-icon [icon]="icons.faAngleLeft"></fa-icon>
          </a>
        </li>
        <li
          *ngFor="let _ of [].constructor(bookResponse.totalPages); let i = index"
          class="page-item"
        >
          <a
            (click)="goToPage(i)"
            [class.active]="page === i"
            class="page-link"
            href="javascript:void(0)"
          >{{ i + 1 }}</a>
        </li>
        <li class="page-item">
          <a
            (click)="goToNextPage()"
            [class.disabled]="isLastPage"
            aria-label="Next"
            class="page-link"
            href="javascript:void(0)"
          >
            <fa-icon [icon]="icons.faChevronRight"></fa-icon>
          </a>
        </li>
        <li class="page-item">
          <a
            (click)="goToLastPage()"
            [class.disabled]="isLastPage"
            aria-label="Next"
            class="page-link"
            href="javascript:void(0)"
          >
            <fa-icon [icon]="icons.faAnglesRight"></fa-icon>
          </a>
        </li>
      </ul>
    </nav>
  </div>
} @else {
  <div
    [class.alert-info]=true
    class="alert text-center fw-bold fs-5"
  >
    No books available
  </div>
}
