<h2>
  My Borrowed books
</h2>
<hr>

@if (selectedBook) {
  <div class="d-flex flex-column col-6">
    <h2>
      Return and share feedback
    </h2>
    <div class="d-flex flex-column col-12">
      <div class="d-flex">
        <div class="col-1">
          <strong>Title</strong>
        </div>
        <div class="col-11">
          {{ selectedBook.title }}
        </div>
      </div>
      <div class="d-flex">
        <div class="col-1">
          <strong>Author</strong>
        </div>
        <div class="col-11">
          {{ selectedBook.authorName }}
        </div>
      </div>
      <div class="d-flex">
        <div class="col-1">
          <strong>ISBN</strong>
        </div>
        <div class="col-11">
          {{ selectedBook.isbn }}
        </div>
      </div>
      <div class="d-flex">
        <div class="col-1">
          <strong>Rate</strong>
        </div>
        <div class="col-11">
          {{ selectedBook.rate }}
        </div>
      </div>
      <hr>
      <div class="col-12">
        <form class="row g-3">
          <div class="d-flex gap-3">
            <input [(ngModel)]="feedbackRequest.note"
                   class="form-range w-25"
                   id="range"
                   max="5"
                   min="0"
                   name="range"
                   step="0.5"
                   type="range">
            <app-rating [rating]="feedbackRequest.note || 0"></app-rating>
            {{ feedbackRequest.note }}
          </div>
          <div class="col-12 ">
            <label class="form-label" for="feedback">Feedback</label>
            <textarea [(ngModel)]="feedbackRequest.comment" class="form-control" id="feedback"
                      name="feedback"
                      placeholder="feedback"
                      rows="4"></textarea>
            <div class="d-flex justify-content-end gap-2 col-12 mt-2">
              <button (click)="returnBook(true)" class="btn btn-outline-primary" type="submit">
                <fa-icon [icon]="icons.faSave"></fa-icon>
                Rate the book & Return
              </button>
              <button (click)="returnBook(false)" class="btn btn-outline-success" type="submit">
                <fa-icon [icon]="icons.faPaperPlane"></fa-icon>
                Just Return
              </button>
              <button class="btn btn-link text-danger" (click)="cancelSelectedBook()">
                Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
}

@if (!selectedBook) {
  <div class="d-flex align-items-center justify-content-center" style="width: 100vw">
    <div class="col-11 d-flex align-items-center justify-content-center">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">ISBN</th>
          <th scope="col">Rate</th>
          <th scope="col">
            <fa-icon [icon]="icons.faCogs"></fa-icon>
          </th>
        </tr>
        </thead>
        <tbody>
          @for (book of borrowedBook.content; track book.id; ) {
            <tr>
              <th scope="col">{{ $index + 1 }}</th>
              <td>{{ book.title }}</td>
              <td>{{ book.authorName }}</td>
              <td>{{ book.isbn }}</td>
              <td>
                <fa-icon [icon]="icons.faStar" class="text-warning cursor-pointer"></fa-icon>
                {{ book.rate?.toFixed(1) }}
              </td>
              <td>
                @if (book.returned) {
                  <fa-icon
                    [icon]="icons.faPaperPlane"
                    class="text-primary cursor-pointer"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="This book already retorned"></fa-icon>
                } @else {
                  <fa-icon (click)="returnBorrowedBook(book)" [icon]="icons.faPaperPlane" data-toggle="tooltip"
                           data-placement="bottom" title="Return the book"
                           class="text-success cursor-pointer"></fa-icon>
                }

                @if (book.returnApproved) {
                  <fa-icon [icon]="icons.faCircleCheck" data-toggle="tooltip"
                           data-placement="bottom"
                           title="Return already Approved"
                           class="ms-2 cursor-pointer text-success"></fa-icon>
                } @else {
                  <fa-icon [icon]="icons.faCircleCheck" data-toggle="tooltip"
                           data-placement="bottom"
                           title="Return is not Approved"
                           class="ms-2 cursor-pointer"></fa-icon>
                }
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
}

@if (!selectedBook && borrowedBook.totalPages && borrowedBook.totalPages >= 1) {
  <div class="d-flex justify-content-center mt-3">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a
            (click)="goToFirstPage()"
            [class.disabled]="page === 0"
            aria-label="Previous"
            class="page-link"
            href="javascript:void(0)"
          >
            <fa-icon [icon]="icons.faAnglesLeft"></fa-icon>
          </a>
        </li>
        <li class="page-item">
          <a
            (click)="goToPreviousPage()"
            [class.disabled]="page === 0"
            aria-label="Previous"
            class="page-link"
            href="javascript:void(0)"
          >
            <fa-icon [icon]="icons.faAngleLeft"></fa-icon>
          </a>
        </li>
        <li
          *ngFor="let _ of [].constructor(borrowedBook.totalPages); let i = index"
          class="page-item"
        >
          <a
            (click)="goToPage(i)"
            [class.active]="page === i"
            class="page-link"
            href="javascript:void(0)"
          >{{ i + 1 }}</a>
        </li>
        <li class="page-item">
          <a
            (click)="goToNextPage()"
            [class.disabled]="isLastPage"
            aria-label="Next"
            class="page-link"
            href="javascript:void(0)"
          >
            <fa-icon [icon]="icons.faChevronRight"></fa-icon>
          </a>
        </li>
        <li class="page-item">
          <a
            (click)="goToLastPage()"
            [class.disabled]="isLastPage"
            aria-label="Next"
            class="page-link"
            href="javascript:void(0)"
          >
            <fa-icon [icon]="icons.faAnglesRight"></fa-icon>
          </a>
        </li>
      </ul>
    </nav>
  </div>
} @else if (!selectedBook) {
  <div
    [class.alert-info]=true
    class="alert text-center fw-bold fs-5"
  >
    No books available
  </div>
}
