<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
  <a class="navbar-brand" href="javascript:void(0)">
    BSN
  </a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
      <fa-icon [icon]="icons.faNavicon"></fa-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="books">
            <fa-icon [icon]="icons.faHomeAlt"></fa-icon>
            <span class="ms-1">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="my-books">
            <fa-icon [icon]="icons.faBook"></fa-icon>
            <span class="ms-1">My books</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="my-waiting-list">
            <fa-icon [icon]="icons.faHeart"></fa-icon>
            <span class="ms-1">My waiting list</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="my-borrowed-books">
            <fa-icon [icon]="icons.faBookBookmark"></fa-icon>
            <span class="ms-1">My borrowed books</span>
          </a>
        </li>
      </ul>
      <form class="d-flex gap-2 align-items-center" role="search">
        <input class="form-control" type="text" placeholder="Find a book" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">
          <fa-icon [icon]="icons.faSearch"></fa-icon>
        </button>
        <span>Welcome</span>
        <span class="text-capitalize fw-bold">Gabriel</span>
        <button class="btn btn-link" type="button" (click)="logout()">
          <fa-icon [icon]="icons.faDoorOpen"></fa-icon>
        </button>
      </form>
    </div>
  </div>
</nav>
