<h2>My returned books</h2>
<hr>
<div
  *ngIf="message"
  [class.alert-danger]="level === 'danger'"
  [class.alert-success]="level === 'success'"
  class="alert"
>
  {{ message }}
</div>

@if (!selectedBook) {
  <div class="d-flex align-items-center justify-content-center" style="width: 100vw">
    <div class="col-11 d-flex align-items-center justify-content-center">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">ISBN</th>
          <th scope="col">Rate</th>
          <th scope="col">
            <fa-icon [icon]="icons.faCogs"></fa-icon>
          </th>
        </tr>
        </thead>
        <tbody>
          @for (book of returnedBooks.content; track book.id; ) {
            <tr>
              <th scope="col">{{ $index + 1 }}</th>
              <td>{{ book.title }}</td>
              <td>{{ book.authorName }}</td>
              <td>{{ book.isbn }}</td>
              <td>
                <fa-icon [icon]="icons.faStar" class="text-warning cursor-pointer"></fa-icon>
                {{ book.rate?.toFixed(1) }}
              </td>
              <td>
                @if (book.returned) {
                  <fa-icon
                    [icon]="icons.faPaperPlane"
                    class="text-primary cursor-pointer"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="This book already retorned"></fa-icon>
                } @else {
                  <fa-icon [icon]="icons.faPaperPlane" data-toggle="tooltip"
                           data-placement="bottom" title="Return the book"
                           class="text-success cursor-pointer"></fa-icon>
                }

                @if (book.returnApproved) {
                  <fa-icon [icon]="icons.faCircleCheck" data-toggle="tooltip"
                           data-placement="bottom"
                           title="Return already Approved"
                           class="ms-2 cursor-pointer text-success"></fa-icon>
                } @else {
                  <fa-icon [icon]="icons.faCircleCheck" data-toggle="tooltip"
                           data-placement="bottom"
                           title="Return is not Approved"
                           (click)="approveBookReturn(book)"
                           class="ms-2 cursor-pointer"></fa-icon>
                }
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
}


@if (returnedBooks.totalPages && returnedBooks.totalPages >= 1) {
  <div class="d-flex justify-content-center mt-3">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a
            (click)="goToFirstPage()"
            [class.disabled]="page === 0"
            aria-label="Previous"
            class="page-link"
            href="javascript:void(0)"
          >
            <fa-icon [icon]="icons.faAnglesLeft"></fa-icon>
          </a>
        </li>
        <li class="page-item">
          <a
            (click)="goToPreviousPage()"
            [class.disabled]="page === 0"
            aria-label="Previous"
            class="page-link"
            href="javascript:void(0)"
          >
            <fa-icon [icon]="icons.faAngleLeft"></fa-icon>
          </a>
        </li>
        <li
          *ngFor="let _ of [].constructor(returnedBooks.totalPages); let i = index"
          class="page-item"
        >
          <a
            (click)="goToPage(i)"
            [class.active]="page === i"
            class="page-link"
            href="javascript:void(0)"
          >{{ i + 1 }}</a>
        </li>
        <li class="page-item">
          <a
            (click)="goToNextPage()"
            [class.disabled]="isLastPage"
            aria-label="Next"
            class="page-link"
            href="javascript:void(0)"
          >
            <fa-icon [icon]="icons.faChevronRight"></fa-icon>
          </a>
        </li>
        <li class="page-item">
          <a
            (click)="goToLastPage()"
            [class.disabled]="isLastPage"
            aria-label="Next"
            class="page-link"
            href="javascript:void(0)"
          >
            <fa-icon [icon]="icons.faAnglesRight"></fa-icon>
          </a>
        </li>
      </ul>
    </nav>
  </div>
} @else {
  <div
    [class.alert-info]=true
    class="alert text-center fw-bold fs-5"
  >
    No books available
  </div>
}
